@import url('https://fonts.googleapis.com/css2?family=Lato:wght@350&family=Oswald&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  body {
    margin: 0;
    font-weight: 350;   
    font-family: 'Lato', sans-serif; 
  }

  h1, 
  h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#144b94;
    margin-bottom: 0.75rem;
    line-height: 1.25;
  }

  #logo {
    line-height: 200px; 
    padding-left: 75px;  
  }
  h1{
    display: flexbox;
    text-align: left;
    text-shadow: 4px 2px 2px #1699cd;
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.5rem; 
  }

  p {
    margin-bottom: 1.25px;
  }
  nav {
    text-align:right;
    text-transform: uppercase;
  }

      /* display:inline-flex; */
  
  nav li {
  list-style-type: none;
  }

  nav a{
    position:relative;
    top: 80px;
    right: 20px;
    color:rgb(20, 75, 148);
    list-style-type: none;
    font-size:small;
    font-weight:bold;
    text-decoration: none;  
    }

  nav a:hover{
    
    color: #1699cd;
  }

  .active {
    border-bottom: 1px solid;
    color:rgb(32, 99, 146);
  } 

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
    background-color:rgba(116, 169, 194, 0.556);
  }
.column h2, p{
  padding:25px;
  }

.column p {
  color: rgb(45, 48, 56);
}


.column a, li {
  list-style: none;
  font-style:italic;
  color:rgb(45, 48, 56);
}
.column img {
    margin-top: 8px;
    vertical-align:middle;
    width: 100%;
}
#castle {
  margin-top: 0px;
}
#ski {
  margin: 0px;
}
.img {
  padding-top: 60px;
}

#useful {
  padding-left: 40px;
}
#to-go {
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.container {
  width: 100%;
  display: flex;
  /* background: yellow; */
  padding: 50px;
  border-sizing: border-box;
  height: 100%;
  background-color:rgba(116, 169, 194, 0.556);
  
}

.internalcontainerL {
  flex: 1;
  /* background: red; */
  padding-left: 30px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin: 3px;
  flex-wrap: wrap;
  
}

.internalcontainerM {
  flex: 1;
  /*width: 320px; */
  /* background: pink;  */
  padding: 30px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin: 3px;
}

.map {
display: block;
object-fit: cover;
width: 100%;
height: 100%; /* set to 'auto' in IE11 to avoid distortions */
}

.text-input{
width: 300px;
text-align: center;
}

  /* Responsive layout - makes a two column-layout instead of three columns  </div>*/
  @media screen and (max-width: 1200px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }

    .container{
      flex-direction:column;
    }

    h1 {
      flex:auto;
      font-size: large;
    }
  
    nav {
      flex:auto;
      font-size:small; 
    }
  
    .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    }
    .hero-img {
      display: flex;
       width: 100%;
       height: 300px;
       justify-content: space-between;
   }

  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 320px) {

    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      
    }
    .container{
      flex-direction:column;
    }
    h1 { 
      flex:auto;
      font-size: medium;
    }
    nav {
      flex:auto;
      font-size: small;
    }
    .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    }
   /* .form {
    display: -ms-flexbox;
    width: 100%;
    height: 300px;
    justify-content: space-between;
   } */
}


  /* overlay classes */

  .hero-img {
    display: flex;
     width: 100%;
     height: 300px;
     justify-content: space-between;
 }
  /* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

  /* dark gray banner line */
  section {
    display: flexbox;
    text-align: center;
    background-color: rgb(45, 48, 56);
    color: rgb(144, 162, 177);
    margin: 0;
    padding: 0px;
  }

    /*Contact Us pages settings*/

    form { 
      display:-ms-flexbox;
      /* background-color: rgba(116, 169, 194, 0.556);
      background-size:cover; */
      /* padding-top: 80px;
      padding-bottom: 80px; */
  }

    input,textarea{
      display:block;
      width: 100%;
      border:2px solid #144b94;
      padding:5px;
      font-size:18px;
      border-radius:10px;
      margin: 0;
      }

    input[type=”submit”]{
      display:inline-flexbox;
      border:none;
      background-color:#343050;
      color: rgb(28, 135, 228);
      width:100%;
      transition:0.3s
      

      }

      .button {
        transition-duration: 0.5s;
        background-color:  rgb(32, 99, 146);
        border: none;
        color: aliceblue;;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display:block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 140px;
    }
      
      .button:hover {
        color: aliceblue;
      }

  /*footer settings*/

footer {
    display: flexbox;
    text-align: center;
    margin: 0;
    background-color:rgb(45, 48, 56);
    padding: 70px;
    color:aliceblue;
    height: 100px;
}

footer a{
    color:rgb(144, 162, 177)
}

footer a:hover{
    color:aliceblue;
}

