@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-weight: 300;   
    font-family: 'Lato', sans-serif;
    color:rgb(17, 16, 16);
    
}
/*heading and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color:blue;
}

#logo {
        float: left;
        font-size: 600%;
}

#menu {
        font-size: 110%;
        letter-spacing: 4px;

}
#menu, #logo {
    line-height: 150px;       
}
#menu a:hover {
    border-bottom: 1px solid;
    color:bisque;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}   
.active {
    border-bottom: 1px solid;
    color:bisque;
}    

/*images*/

.lighthouse {
    
    background-image: url('../images/saaremaa.jpg') no-repeat center center; 
    object-fit: cover;
    width: 100%;
    height:500px;

}

/*Saaremaa logo*/
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
/* Menu styling */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;}



.race {
    width: 33%;
    height: 250px;
}

.map {
    width: 33%;
    height: 250px;
}
#island {
    display: flexbox;
    text-align: center;
    background-color: rgb(61, 66, 78);
    color: white;
    
    
}


/* history and to-do settings*/

#history {
    display: flexbox;
    padding: 60px;
    margin: 0;
    background-image: url("kuressaare_castle.jpg");
    background-color:rgb(85, 139, 150, 0.5);
}
#to-do {
    display: flexbox;
    padding: 60px;
    margin: 0;
    background-image: url("meri.jpg");
    background-color: rgb(85, 139, 150, 0.5);
}

#activities {
    padding: 60px;
    margin: 0;
    display: flexbox;
    background-color:rgb(170, 221, 238);
}
#links {
    display: flexbox;
    padding: 60px;
    margin: 0;
    background-color:rgb(96, 188, 219);
    
}
#gallery {
    display: flexbox;
    background: rgb(34, 164, 239);
    height: 100px;
}
#info {
    display: flexbox;
    background: rgb(34, 164, 239);
    height: 100px;
}

/*footer settings*/
footer {
    display: flexbox;
    text-align: center;
    margin: 0;
    background-color:rgb(26, 26, 50);
    padding: 60px;
    color:aliceblue ;
}








