h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:blue;
}

.vertical-menu {
  width: 200px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  
}

.vertical-menu a:hover {
  background-color:lightblue;
}

.vertical-menu a.active {
  background-color:blue;
  color: white;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }

  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  



  /*saaremaa-image*/

#cover {
  height: 600%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#saaremaa {
  height: 600px;
  width: 100%;
  background: url('../images/saaremaa.jpg') no-repeat center center;
  
}

