@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-weight: 300;   
    font-family: 'Lato', sans-serif;
    color:rgb(17, 16, 16);
    
}
/*heading and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color:blue;
}

#logo {
        float: left;
        font-size: 600%;
}

#menu {
        font-size: 110%;
        letter-spacing: 6px;
        color:bisque
}
#menu, #logo {
    line-height: 150px;       
}
#menu a:hover {
    border-bottom: 1px solid;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}   
.active {
    border-bottom: 1px solid;
}    

/*saaremaa-image*/

#lighthouse {
    height: 600px;
    width: 100%;
    background-image: url('../images/saaremaa.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
}

.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

.top-left {
position: absolute;
top: 8px;
left: 16px;
}

.top-right {
position: absolute;
top: 8px;
right: 16px;}


.summer {
    width: 33%;
    height: 250px;
}

.map {
    width: 33%;
    height: 250px;
}
#island {
    text-align: center;
    background-color: black;
    color: white;
    
}


/* history and to-do settings*/

#history {
    padding: 60px;
    margin: 0;
    background-image: url("kuressaare_castle.jpg");
    background-color:rgb(85, 139, 150, 0.5);
}
#to-do {
    padding: 60px;
    margin: 0;
    background-image: url("meri.jpg");
    background-color: rgb(85, 139, 150, 0.5);
}

#activities {
    padding: 60px;
    margin: 0;
    display: flexbox;
    background-color:rgb(170, 221, 238);
}
#links {
    padding: 60px;
    margin: 0;
    background-color:rgb(170, 221, 238);
    
}
footer {
    text-align: center;
    margin: 0;
    background-color:rgb(26, 26, 50);
    padding: 60px;
    color:aliceblue ;
}
#gallery {
    #road {
                
        width: 600px;
        height: 100%;
         }

    
    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
    
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }
    
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
    }
}






